# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.venv/
env/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints/

# Jupyter runtime files
.jupyter/
*.nbconvert.ipynb

# =========================
# Data files
# =========================
data/
datasets/
*.csv
*.xlsx
*.xls
*.json
*.parquet
*.feather
*.h5
*.sqlite
*.db


#

# =========================
# Temporary files
# =========================
tmp/
temp/
*.tmp